*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    display: grid;
    grid-template-columns: 9fr 2fr;
    justify-items: stretch;
    background-color: lightgray;
    padding: 20px;
    color: rgb(97, 97, 97);
}
.header .add{
    display: grid;
    justify-items: center;
}
.header .add button{
    place-self: center;
}
.cards{
    width: 700px;
    height: 260px;
    display: grid;
    place-self: center;
    justify-content: center;
    padding: 30px 0;
    margin-top: 20px;
    grid-template-columns: repeat(auto-fit,300px);
    gap: 20px;
    border: 1px solid darkgray;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px #C9C9C9;
}
.card{
    background-color: lightgray;
    height: 200px;
    display: grid;
    grid-template-rows: 1fr 5fr;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px 0px #C9C9C9;
    color: rgb(97, 97, 97);
}
.bookDetails{
    color: rgb(97, 97, 97);
    justify-self: center;
    font-size: 20px;
    display: grid;
    gap: 5px;
}
button{
    place-self: end;
    font-size: 28px;
    font-weight: 900;
    background-color: rgb(120, 120, 120);
    color: lightgray;
    border-radius: 5px;
    border-width: 0;
    width: 40px;
    height: 35px;
    text-align: center;
    cursor: pointer;
    opacity: 0.8;
}
::backdrop{
    background-color: black;
    opacity: 0.6;
}
#submitButton{
    width: 100px;
    height: 25px;
    font-size: 20px;
    place-self: center;
}
dialog{
    height: 500px;
    place-self: center;
    border: 1px solid gray;
    border-radius: 20px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
#toggleButton{
    width: 80px;
    height: 30px;
    font-size: 18px;
}
.toggleAlert{
    font-size: 12px;
}
.read{
    display: flex;
    align-items: center;
    gap: 10px;
}
form >div + *{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
label,
.question{
    color: rgb(97, 97, 97);
    font-size: 18px;
}